body{
    
    background: #CFD8DC;
}

/*HEADER STYLE*/

#header{
    background-color: #40505B;
    
}
.dropbtn {
    background-color: #40505B; 
    padding: 15px;
    width:100%;
    font-size: 16px;
    border: none;
    vertical-align: bottom;
    cursor:pointer;
}
#menu-btn{
    width:30px;
    height 30px;
    
}
.dropdown {
    width:15%;
    position: relative;
    background-color: #40505B;
    float:right;
    height:60px;
    
}
#name{
    background-color: #40505B;
    float:left;
    padding-left:30px;
    width:85%;
    height:60px;
    color:aliceblue;
}
.dropdown-content {
    display: none;
    background-color: #40505B;
    min-width: 100%;
    position:absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content a {
    color: aliceblue;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #0AD1B3}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: aliceblue;
}



/*BANNER STYLE*/
.jumbotron{
    width:100%;
    background-size:cover;
    height:auto;
    margin-bottom:10;
    display:flex;
    background-image: url("https://i.imgsafe.org/a22567a887.jpg");

}

.jumbotron .container{
    width:70%;
 height:20%;
    
}
.jumbotron div div h3{
    color:aliceblue;
    margin-top: 120px;
    text-shadow: 0.5px 0.5px 0.5px #000000;    

}

.jumbotron div div h4{
    color:aliceblue;
    text-shadow: 0.5px 0.5px 0.5px #000000;    
    
}

/*CORE STYLE*/
#core{
    width:900px;
    background: #CFD8DC;
    
}
#core .row{
    margin-bottom: -70px;

    display:block;
    
}
#core .row:after {
  height:70px;
}

.text_body{
    display: block;
   
   margin-top: 0px;
    margin: auto;
    color:aliceblue;
    
    
    
    
    
}
.text_body p{
    padding:20px;
    margin-bottom: 0;
    margin-top: 0;
    background: rgba(0,0,0,0.6);
}

.text_body a{
    text-decoration: none;
    color: aliceblue;
    background: rgba(0,0,0,0.6);
        height:
}

.text_body hr{
    margin-top: 40px;
    border: 1px solid #0AD1B3;
}
.thesis, .egmr, .tmp, .thesis2,.egmr2{
        
        margin: auto;
    
}

.thesis{
background-image:url("https://i.imgsafe.org/1bfc442217.jpg");
background-size: cover;
background-repeat: repeat-y;
display: inline-block;
    

}


.thesis img{
    float:left;
    width:35%;
    
}
.thesis #par_1_prev{
    width:65%
        float:right;
    
}

.thesis2{
    background-image:url("https://i.imgsafe.org/1bfc442217.jpg");
background-size: 100%;
background-repeat:repeat-y;

}
.thesis2 #textArea{
    width:100%;
    
}
.thesis2 a{
    width:100px;
    float: right;
    text-align: center;
    text-decoration: none;
    color:aliceblue;
    
}
.thesis2 a:hover{
    
    color:#0AD1B3;
}


.egmr{background-image: url("https://i.imgsafe.org/a225bb8948.jpg");
background-size: 100%;
background-repeat: repeat-y;
display: inline-block;}

.egmr img{
    float:right;
    width:35%;
    margin-top: 43px;
    
}
.egmr #par_2_prev{
    float:left;
    width:65%
    
}

.egmr2{
    background-image:url("https://i.imgsafe.org/a225bb8948.jpg");
background-size: 100%;
background-repeat:repeat-y;

}
.egmr2 #textArea2{
    width:100%;
    
}
.egmr2 a{
    width:100px;
    float: right;
    text-align: center;
    text-decoration: none;
    color:aliceblue;
    
}
.egmr2 a:hover{
    
    color:#0AD1B3;
}



.tmp{
    background-image: url("https://i.imgsafe.org/a225cbe267.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    margin-bottom: 10px;
    
    
}
.tmp #par_3_prev{
    text-align: center;
    margin:auto;
    width:100%;
    height:200px;
    line-height: 75px;
}







/*FOOTER STYLE*/
.footer{
    background:#40505B;
    height:70px;
    margin-bottom: 0;
    
    
}
.foot h5{
    float:right;
    padding:15px;
    color:aliceblue;
}
.foot div{
    float:right;
    margin-right:3%;
    padding:10px;
}
.foot a img{
    margin:5px;
    width:40px;
    height:auto;
    display:inline-block;
    border-radius:50%;
    
}

.foot a img:hover{
    
    border: 2px solid #0AD1B3;
}